logging:
  config: 'classpath:log4j2.yml'

spring:
  application:
    name: marketplace-gateway
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://kinoko.su:5432/mp_db_dev
    username: mp_dev_user
    password: mp_dev_passwd

eureka:
  client:
    fetch-registry: false
    register-with-eureka: false
  server:
    enable-self-preservation: false

app:
  auth:
    secret: a45933b42fc4f16f67902829ab2c259205f3080e672c1695beee0f68b915c579fedc4b37737062bd
    access-life-time: 900000
    refresh-life-time: 2592000000

server:
  port: 33307
